In [63]:
import pandas as pd 
import numpy as np

In [2]:
car = pd.read_csv('quikr_car.csv')

In [3]:
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [4]:
# to see how much data we have
car.shape

(892, 6)

In [5]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [6]:
car['year'].unique()

array(['2007', '2006', '2018', '2014', '2015', '2012', '2013', '2016',
       '2010', '2017', '2008', '2011', '2019', '2009', '2005', '2000',
       '...', '150k', 'TOUR', '2003', 'r 15', '2004', 'Zest', '/-Rs',
       'sale', '1995', 'ara)', '2002', 'SELL', '2001', 'tion', 'odel',
       '2 bs', 'arry', 'Eon', 'o...', 'ture', 'emi', 'car', 'able', 'no.',
       'd...', 'SALE', 'digo', 'sell', 'd Ex', 'n...', 'e...', 'D...',
       ', Ac', 'go .', 'k...', 'o c4', 'zire', 'cent', 'Sumo', 'cab',
       't xe', 'EV2', 'r...', 'zest'], dtype=object)

In [7]:
# year has many non-year values
# year object to int 
# price has Ask for price
# price object to int
# kms_driven has kms with integers
# kms_driven object to int
# kms_driven has nan values
# fuel_type has nan values
# keep first 3 word of name

In [8]:
# cleaning data 
backup = car.copy()

In [9]:
car= car[car['year'].str.isnumeric()]

In [10]:
car['year']=car['year'].astype(int)

In [11]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 842 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        842 non-null    object
 1   company     842 non-null    object
 2   year        842 non-null    int32
 3   Price       842 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: int32(1), object(5)
memory usage: 42.8+ KB

In [12]:
car = car[car['Price']!="Ask for Price"]

In [13]:
car['Price']=car['Price'].str.replace(',','')

In [14]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 842 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        842 non-null    object
 1   company     842 non-null    object
 2   year        842 non-null    int32
 3   Price       842 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: int32(1), object(5)
memory usage: 42.8+ KB

In [15]:
car['kms_driven']=car['kms_driven'].str.split(' ').str.get(0).str.replace(',','')

In [16]:
car=car[car['kms_driven'].str.isnumeric()]

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [17]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 842 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        842 non-null    object
 1   company     842 non-null    object
 2   year        842 non-null    int32
 3   Price       842 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: int32(1), object(5)
memory usage: 42.8+ KB

In [18]:
car['kms_driven']=car['kms_driven'].astype(int)

ValueError: cannot convert float NaN to integer

In [19]:
car= car[car['Price'].str.isnumeric()]

In [20]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 819 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        819 non-null    object
 1   company     819 non-null    object
 2   year        819 non-null    int32
 3   Price       819 non-null    object
 4   kms_driven  819 non-null    object
 5   fuel_type   816 non-null    object
dtypes: int32(1), object(5)
memory usage: 41.6+ KB

In [21]:
car['Price']=car['Price'].astype(int)

In [22]:
car=car[car['kms_driven'].str.isnumeric()]

In [23]:
car['kms_driven']=car['kms_driven'].astype(int)

In [24]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int32
 3   Price       817 non-null    int32
 4   kms_driven  817 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 35.1+ KB

In [25]:
car=car[~car['fuel_type'].isna()]

In [28]:
car['name']=car['name'].str.split(' ').str.slice(0,3).str.join(' ')

In [31]:
car=car.reset_index(drop=True)

In [32]:
car=car[car['Price']<6e6].reset_index(drop=True)

In [33]:
#to store cleaned data in new file
car.to_csv('Cleaned Car.csv')

# Model

In [52]:
X=car.drop(columns='Price')
y=car['Price']

In [53]:
X

                       name   company  year  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006          40    Diesel
2         Hyundai Grand i10   Hyundai  2014       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014       36000    Diesel
4                 Ford Figo      Ford  2012       41000    Diesel
..                      ...       ...   ...         ...       ...
810      Maruti Suzuki Ritz    Maruti  2011       50000    Petrol
811          Tata Indica V2      Tata  2009       30000    Diesel
812    Toyota Corolla Altis    Toyota  2009      132000    Petrol
813            Tata Zest XM      Tata  2018       27000    Diesel
814      Mahindra Quanto C8  Mahindra  2013       40000    Diesel

[815 rows x 5 columns]

In [54]:
from sklearn.model_selection import train_test_split
X_train, X_test,y_train, y_test=train_test_split(X,y,test_size=0.2)

In [55]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
#r2_score i used to measure the regression
#One-hot encoding can be used to transform one or more categorical features into numerical dummy features
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [56]:
ohe = OneHotEncoder()
ohe.fit(X[['name','company','fuel_type']])

OneHotEncoder()

In [57]:
#we can also use simpleimputer() to remove nan() values but we have already  removed the nan values
column_trans = make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','company','fuel_type']),
                                       
                                      remainder='passthrough')

In [58]:
lr=LinearRegression()

In [59]:
pipe=make_pipeline(column_trans,lr)

In [60]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [61]:
y_pred=pipe.predict(X_test)

In [62]:
r2_score(y_pred,y_pred)

array([ 452763.37386528,  510582.83060953,  324072.18761609,
        376189.91182056,   89583.87595307,  392753.03968998,
        669330.16356757,  263167.58942509,  189801.74550925,
        455099.3583137 ,  379917.5763582 ,  345312.49960527,
        709987.26808396,  432277.7484154 ,  288778.6532392 ,
        111709.26572499,  188203.15861191,  171382.61693467,
        905457.01965511,  526110.1323593 ,  776632.86525335,
        425144.35377211,  621223.08854391,  554884.69651147,
       -102429.06853541,  473413.10774822,  597900.60937772,
        278988.65406434,  369038.46002936,  442973.30109788,
       1519332.97132169,  183832.75269575,  170302.02039636,
        444019.59613389,  114176.28851692,  409823.65829653,
        605195.53423353,  435003.78384104,  273598.13084997,
        250571.90896659,  268965.36443193,  462983.12380241,
        230037.54271392,  337831.91129848,  386162.74216415,
        488576.35227917,   26618.63524218,  252746.37123264,
        594537.84817456,  517274.21269581,  416470.28211174,
        505110.62952844,  351835.90070728,  438177.54040585,
        608792.35475255,  317287.63388202,  223550.69650055,
        506762.60755947,   83401.77068399,  218341.32726393,
         40066.26799054,  145512.94331169,   41629.01622792,
        267951.50831037,  615163.92949932,  221415.86395983,
        391384.23280262,  418233.47568688,  144013.22800934,
        465533.09686118,  292274.37791476,  390491.433745  ,
        381060.07885869,  501520.25266803,  618055.22889452,
        773487.12974238,  335703.97393882,  918753.62982579,
        335185.58305886,  418009.92985582,  297869.43205545,
        497509.89723194,  320221.03264876,  570329.62309332,
        276035.02447595,  359949.97252924,  569577.27989516,
        254568.37620994,  688040.01856115,  290051.96004468,
        231093.39379856,  509791.8142783 ,  515724.36439718,
        374529.69550118,  357584.53065307,  183832.75269575,
        344927.20934165,  125334.97482824,  510191.46100264,
        578013.33085521,  727928.34164724,  709529.43330415,
        366750.75295673,  326406.81514106,  602878.93780672,
        689537.07712179,  557431.90454756,  408765.61191194,
        353014.03288958,  384330.62905892,  447580.03437204,
        275946.48097644,  551639.05615683,  -29126.18652258,
        178223.8687153 ,   61608.60524958,  191675.85093788,
        286169.0900419 ,  352961.29659422,   34435.34108452,
        558132.61141633,  437163.57264267,  289205.40176955,
        688458.03096609,  514375.21998029,  305265.79395964,
        505567.40422933, -192559.56238312,  513006.68083446,
        352560.36551349,  368307.56982331,  847434.0340023 ,
        898677.07271315, 1028135.6835774 ,  132826.97711239,
        310764.35603838,  517274.21269581,  287901.33336959,
        611489.16384524,  265799.72703709,  272552.47880504,
        409087.15176205,  317287.63388202,  471927.44445054,
        581790.98827288,  264041.05987148,  773509.50214017,
        476514.17760678,  626290.6943716 ,  377874.82552852,
        247219.09724165,  725163.52734439,  575008.67220564,
         89583.87595307,  311315.00127447,  372619.7199947 ,
        320195.61439003,  472417.51440781,  573951.54419741,
        156162.19817075,  -81714.86125679,  510191.46100264,
        247084.33850432])

In [66]:
score=[]
for i in range(1000):
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)
    lr=LinearRegression()
    pipe=make_pipeline(column_trans,lr)
    pipe.fit(X_train,y_train)
    y_pred=pipe.predict(X_test)
    score.append(r2_score(y_test,y_pred))

In [67]:
np.argmax(score)

658

In [69]:
score[np.argmax(score)]

0.8330922190992314

In [70]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=np.argmax(score))
lr=LinearRegression()
pipe=make_pipeline(column_trans,lr)
pipe.fit(X_train,y_train)
y_pred=pipe.predict(X_test)
r2_score(y_test,y_pred)

0.5266645398787279

In [71]:
import pickle

In [72]:
pickle.dump(pipe,open('LinearRegressionModel.pkl','wb'))

In [74]:
pipe.predict(pd.DataFrame([['Maruti Suzuki Swift','Maruti',2019,100,'Petrol']], columns=['name','company','year','kms_driven','fuel_type']))

array([437839.18360557])